{% extends 'tournaments/layout.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'css/layout.css' %}" rel="stylesheet" />
<link href="{% static 'css/football/single_elimination.css' %}" rel="stylesheet" />
{% endblock stylesheet %}
{% block section %}

<div class="container_section">
    <div class="form_div">
        <span class="span_head">Tournament Schedule</span><br>
        <span class="span_small">Create your schedule here!</span>
        <form action="" method="post">
            {% csrf_token %}
            <label for="schedule">Type of schedule</label><br>
            <select name="" id="">
                <option value="single elimination">single elimination</option>
                <option value="double elimination">double elimination</option>
            </select><br>
            <label for="no_teams">Number of teams</label><br>
            <select name="no_teams" id="no_teams">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
            </select><br>
            <button type="submit" class="btn btn-success">Create Schedule</button>
        </form>
    </div>
</div>
{% endblock section %}

<!-- <script src="{% static 'js/tour/football.js' %}"></script> -->