
.container_section{
    background-image: url(../tour/back-img.jpg) ;
    background-size: cover;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 80% !important;
}
.row{
    display: flex;
    padding: 2em;
    justify-content: center;
}
.card{
    margin: 1em;
    text-align: center;
    transition: 0.5s;
    background:transparent  !important;
    backdrop-filter: blur(1px) !important;
}

.card:hover{
    -webkit-transform: scale(1.1);
}
.card a{
    text-decoration: none;
}
.card img{
    margin-top: .7em;
}
.card-text{
    color: #d1d1d1;
}