
{% extends 'tournaments/layout.html' %}
{% load static %}
    {% block section %}
    
        <div class="container">
         <div class="row">
            <div class="card col-md-4" style="width: 25%; height: 100%;">
                <a href="">
                <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                <div class="card-body">
                    <p class="card-text">Football Tournaments</p>
                </div>
                </a>
            </div>
            <div class="card col-md-4" style="width: 25%; height: 100;">
                <a href="">
                <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
                </a>
            </div>
            <div class="card col-md-4" style="width: 25%; height: 100;">
                <a href="">
                <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
                </a>
            </div>
            <div class="card col-md-4" style="width: 25%; height: 100;">
                <a href="">
                <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
                </a>
            </div>
            <div class="card col-md-4" style="width: 25%; height: 100;">
                <a href="">
                    <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
            <div class="card col-md-4" style="width: 25%; height: 100;">
                <a href="">
                    <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
            <div class="card col-md-4" style="width: 25%; height: 100;">
                <a href="">
                    <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
            <div class="card col-md-4" style="width: 25%; height: 100;">
                <a href="">
                    <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
            <div class="card col-md-4" style="width: 25%; height: 100;">
                <a href="">
                    <img src="{% static 'tour/football/football.jpg' %}" class="card-img-top card-img-bottom" alt="...">
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
            </div>
        </div>
    {% endblock section %}
